div {
  text-align: center;
  overflow: hidden;
  border:25px solid green;
  width: 400px;
  background: red;
  border-radius: 40px;
}

img {
  width:200px;
  border: 9px solid black;
  padding: 25px;
}
h1 {
text-decoration: underline;
margin: 50px;
font-size: 60pt;
height: 100px;
}